.logo {
    border-radius: 12px;
    width: 250px;
    margin-top: 20px;
    margin-right: 1250px;
    display: inline-block;
    vertical-align: top;
}

body {
    background-color: black
}

.menunav {
    padding: 0;
    text-align: right;
    vertical-align: top;
}

.menunav li {
    display: inline-block;
    list-style-type: none;
}
    
.menunav a {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: inline-block;
    margin-top: 1000px;
    padding: 10px;
    display: inline;
    width: 100%;
    text-decoration: none;
}

.menunav a:hover{
    background-color: gray;
    color: white;
}

article {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    margin-top: 180px;
    margin-left: 50px;
    width: 38%;
    }

h1{
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
    text-align: center;
}

h3{
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: inherit;
    font-style: oblique;
    margin-top: 80px;
    text-align: center;
}

p {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    margin-left: 400px;
    width: 50%;
    text-align: center;
}

section fieldset {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}